footer {
  background-color: var(--colore-primario);
  min-height: 350px;

  .row {
    align-items: start;
  }
  h4 {
    color: var(--bianco);
    font-size: calc(var(--unita-base) * 1.7);
  }

}

.socials-list {
  font-size: 30px!important;
}

footer a {
  text-decoration: none;
  color: var(--bianco);
}
