footer {
  background-color: var(--colore-primario);
  min-height: 350px;

  .row {
    align-items: start;
  }
  h4 {
    color: var(--bianco);
    font-size: calc(var(--unita-base) * 1.7);
  }

  .social-media-wrapper {
    font-size: 30px;
  }
}

footer a {
  text-decoration: none;
  color: var(--bianco);
}
