.ortodonzia-offerte {
  min-height: var(--altezza-corpo);
  h5 {
    text-align: center;
    background-color: var(--colore-primario);
    margin-bottom: 0 !important;
    color: var(--bianco);
    padding: var(--unita-base) 0;
    height: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.download-magazines {
  background-color: var(--grigio);
  justify-content: space-between;
}

.download-link{
  display: flex;
  align-items: center;
  height: 100%;
  img {
    object-fit: cover;
  }
}