.iso-info {

  .img-container {
    pointer-events: all;
  }

  .carosello {
    .carousel-inner {
      height: 600px;
    }
  }

  .iso-contatti {
    .left {

      display: flex;
      flex-direction: column;
      justify-content: center;

      max-height: 100%;

    }

    .right {
      max-height: 100%;
      max-width: 100%;
    }

    .iso-logo {
      object-fit: cover;
    }
  }
}

.carosello img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: bottom;
  }

@media screen and (max-width: 768px) {
  .right {
    display: none;
  }
}
